@inherits CustomLayoutComponentBase
@code{


    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            AuthenticationState authenticationState;
            var token =await  _localDataStorage.GetTokenAsync();
            authenticationState = await _AuthenticationStateProv.GetAuthenticationStateAsync("jwt",token);
            string user = authenticationState?.User?.Identity?.Name;
             User = ( _userManager.Users.FirstOrDefault(x => x.Email == user));
        }
    }
}
<PageTitle>WebAppMeet</PageTitle>
<div >
    
    <CascadingValue Value="User">
         <NavMenu />
   </CascadingValue>
</div>
<div class="page">
    

    <main>
        <CascadingValue Value="User">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>
