@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebAppMeet</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>*@
@using WebAppMeet.Components.Helper
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider auth
@inject LocalStorage _localDataStorage 
@inject UserManager<AppUser> _userManager
@inject CustomAuthenticationStateProvider _AuthenticationStateProv 
@inject NavigationManager _NavManager 
@code{
    string path = null;
    [CascadingParameter]
    protected AppUser User{ get; set; }
    protected override async Task OnInitializedAsync()
    {
        path = $"/ChatList";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {

            path = $"/ChatList/{(User?.Id??"0")}";
        }
    }
    protected async Task RedirectToUrl()
    {
        AuthenticationState authenticationState;
        var token =await  _localDataStorage.GetTokenAsync();
        authenticationState = await _AuthenticationStateProv.GetAuthenticationStateAsync("jwt",token);
        string user = authenticationState?.User?.Identity?.Name;
        User = ( _userManager.Users.FirstOrDefault(x => x.Email == user));
        _NavManager.NavigateTo($"/ChatList/{(User?.Id??"0")}");
    }
}
 <nav class="nav-prop">
            
           <ul id="ulist">
               <label class="logo"><a  href="/"> Meet </a></label>
               <li id="ullink"> <a class="active" href="/"> Home </a> </li>
               <li id="ullink"> <a href="#">About  </a> </li>
               <li id="ullink">  <a href="@path" @onclick="RedirectToUrl"> Meetings </a> </li>
               <li id="ullink"> <a href="#">Contact  </a> </li>
               <li id="icon"    @onmouseover="MakeMenuVisible"  >
                   <i class="fas fa-bars"></i>
                   <ul id="accountMenu" style="@displaymenu" >
                       <CascadingAuthenticationState>
                           <AuthorizeView>
                               <Authorized>
                                   <li class="listItemLogin"><NavLink href="/Profile">Profile</NavLink></li> 
                                   <li class="listItemLogin io io-lock-locked"><NavLink href="/identity/account/Logout">Logout</NavLink></li> 
                               </Authorized>
                     
                              <NotAuthorized>
                               <li class="listItemLogin io io-lock-locked"><NavLink href="/Login">Login</NavLink></li>
                               <li class="listItemLogin"><NavLink href="/Register">Signup</NavLink></li> 
                               </NotAuthorized>
                          </AuthorizeView>
                      </CascadingAuthenticationState>
                   </ul>
               </li>
            </ul>
</nav>
@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>*@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string displaymenu { get; set; } = "display:none;";
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
    private bool isMouseOutMenu = true;
    private void MakeMenuVisible(MouseEventArgs e)
    {
        displaymenu = "display:flex;";
        isMouseOutMenu = false;

    }

    private void MakeMenuNonVisible(MouseEventArgs e)
    {
        displaymenu = "display:none;";

    }
}
