@using Microsoft.AspNetCore.SignalR.Client;
@inherits ChatBoxComponentBase
@code {

    

    
}

<div class="container chatbox" style="margin-top:10%;">
    
        <div>
        <h4>Chat</h4>
            @if(!MessageList.Any())
            {
                
                 var text = string.Join("\n", MessageList);
                <div style="float: left; width: 80%;">
                    <textarea @ref=TextAreaRef disabled style="width:100%; max-width: 100%;height:236px">@text  </textarea>
                 
                   <div class="row">
                        <div class="col col-lg-11">
                               <textarea style="height:200px;resize: none;width:96%;" @bind=Message @bind:event="oninput" @onkeydown="OnKeyPressed"></textarea>

                         </div>  
                        <div class="col-1">
                    <a class="btn btn-success" style="bottom:-77%;position:relative;left:-90%;border-radius:35%;" @onclick="OnButtonSend">Send</a>
                        </div>
                    </div>
                </div>
                <UserActivityIndicatorComponent @ref="this.UserActivityIndicatorComponent"></UserActivityIndicatorComponent>
            }
            else
            {
                var text = string.Join("\n", MessageList);

                <div style="float: left; width: 80%;">
                        <textarea @ref=TextAreaRef  disabled  style="width:100%; max-width: 100%;height:236px"  >@text  </textarea>
                    <div class="row">
                        <div class="col col-lg-11">
                               <textarea style="height:200px;resize: none;width:96%;" @bind=Message @bind:event="oninput" @onkeydown="OnKeyPressed"></textarea>

                         </div>  
                        <div class="col-1">
                    <a class="btn btn-success" style="bottom:-77%;position:relative;left:-90%;border-radius:35%;" @onclick="OnButtonSend">Send</a>
                        </div>
                    </div>
                </div>
                <UserActivityIndicatorComponent @ref="this.UserActivityIndicatorComponent"></UserActivityIndicatorComponent>
            }

        </div>
        
    <section class="container" >
         <div class="row">
    
        
           
        </div>
       
        
    </section>
</div>
