@page "/ChatList/{UserId}"
@using Radzen.Blazor
@using WebAppMeet.Data.Entities
@inherits MeetingListComponentBase
@using WebAppMeet.Pages


<div class="container-fluid">
    <div class="flexContainerLeft"> 
    <a class="btn btn-primary" href="/Create/Meeting/User/@UserId">Create</a>
    </div>
</div>
<div style="margin-top:3%;">
@if(meetings is null)
{
    <b>Loading...</b>
}
else
{
    <RadzenGrid AllowPaging="true" AllowColumnResize="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" PageSize="6" Data="meetings" FilterMode="Radzen.FilterMode.Advanced" TItem="Meeting" ApplyFilterText="Apply">
        <Columns >
            <RadzenGridColumn Title="@nameof(Meeting.MeetingId)" TItem="Meeting" Property="MeetingId"></RadzenGridColumn>
            <RadzenGridColumn Title="@nameof(Meeting.Description)" TItem="Meeting" Property="Description"></RadzenGridColumn>
            <RadzenGridColumn  Title="@nameof(Meeting.Date)" Format="dd/MM/yyyy" TItem="Meeting" Property="Date">
                
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Meeting" Title="Host" Property="Host.UserName"></RadzenGridColumn>
            <RadzenGridColumn TItem="Meeting"  Title="@nameof(Meeting.Started)"  Property="Started"></RadzenGridColumn>
            <RadzenGridColumn Title="Action" TItem="Meeting" Property="Url"    >
                <Template Context="data">
                        <RadzenButton Click=@(args => OnJoinButtonClick(data.Url,data.MeetingId,data.Date)) Text="Join" ButtonStyle="Radzen.ButtonStyle.Success" />
                        <RadzenButton Click=@(args => OnDeleteButtonClick(data.Url,data.MeetingId,data.Date)) Text="Del" ButtonStyle="Radzen.ButtonStyle.Danger" />
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}
</div>